fastapi
uvicorn
pymongo
python-dotenv
bcrypt
passlib[bcrypt]
python-jose[cryptography]
langchain==0.2.6
langchain-groq
langchain-huggingface
langchain-mongodb
langchain-community==0.2.6
langchain-core==0.2.10
pydantic
requests
jinja2
python-multipart
wtforms
email-validator
dnspython
sentence-transformers
pypdf
authlib
itsdangerous
httpx
beautifulsoup4
duckduckgo-search