<section
          id="calendar-section"
          class="content-section hidden"
        >
          <div class="calendar-header flex items-center justify-between mb-24">
            <div class="flex-center-gap-15">
              <div class="mobile-menu-btn" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></div>
              <div>
                <h2 class="m-0">Academic Calendar</h2>
                <p class="text-secondary m-0 text-sm">
                  Important dates and upcoming events
                </p>
              </div>
            </div>
          </div>

          <div
            id="calendar-list"
            class="grid-calendar-list"
          >
            
          </div>
        </section>